@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


:root {
    --gradient: linear-gradient(to right, #181D31, #333B67);
    --dark-blue: #181D31;
    --light-blue: #333B67;
}

body {
    border: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal {
    width: 800px;
    height: 400px;
    border-radius: 20px;
    border: solid 2px chartreuse;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background: var(--gradient);
    height: 67px;
    width: 100%;
    color: white;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;

}

.header_content {
    display: flex;
    width: 700px;
    align-items: center;
    justify-content: space-between;
}

.header_content p {
    font-family: 'Titillium Web';
    font-size: 24px;
    font-weight: 400;
}

.header_content .material-symbols-outlined {
    font-size: 30px;
    position: relative;
    left: 11px;
}

.body_content {
    width: 700px;
    height: 100%;
    border: solid 2px firebrick;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text {
    display: flex;
    justify-content: space-between;
}

.round {
    width: 131px;
    height: 131px;
    border: solid black 1px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round .material-symbols-outlined {
    font-size: 100px;
}

.body_text {
    border: solid 2px gold;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    width: 506px;
    height: 94px;
}

.body_text p{
    text-align: left;
}

.buttons {
    border: solid 2px hotpink;
}
