@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.left_section {
    width: 375px;
    height: 100%;
}

.main_section {
    display: flex;
    flex-direction: column;
    width: 1400px;
    height: 100%;
    /* border: solid 2px fuchsia; */
    background-color: #121526;
}

.breadcrumb {
    /* border: solid 2px red; */
    
    display: flex;
    align-items: center;

    gap: 8px;

    margin: 56px 0 56px 50px;
}

.breadcrumb_element {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
}

.now {
    font-weight: bold;
}

.content {
    /* border: solid 2px blueviolet; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 92%;
    gap: 62px;
    /* border: solid 2px gold; */
    margin-top: 121px;
    
}

.cancelar {
    border: none;
    border-radius: 100px;

    background-color: #7F56BC;
    height: 47px;
    width: 212px;
    color: #FFF;
    cursor: pointer;
    font-family: 'Titillium Web';
    font-size: 24px;
    font-weight: 600;
}

.criar {
    border: none;
    border-radius: 100px;
    
    background-color: #4476E0;
    height: 47px;
    width: 256px;
    color: #FFF;
    cursor: pointer;
    font-family: 'Titillium Web';
    font-size: 24px;
    font-weight: 600;
}