
.home-container{
    /* border: solid 2px red; */
    background-color: #121526;
    width: 100%;
    min-height: 100vh;
    display: flex;
    font-family: sans-serif;
}

.logout-container{
    /* border: solid 1px red; */
    
    /* padding: 50px 0 0 50px; */
    padding: 50px 0 50px 50px;
    display: flex;
    width: 100%;
    /* width: 100vw; */
    background-color: #121526;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* color: #fff; */
    /* font-family: 'Titillium Web', sans-serif; */
}

.logout-container>button{
    width: 20%;
    margin-top: 39px;
    border-radius: 20px;
    color: #121526;
    border: none;
    background: #F070FF;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
}

.menu-left{
    width: 375px;   
    background-color: #181D31;
    color: #f2f2f2; 
}

.menu-toggle{
    width: 218px;
}


.logo-container{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 50px;
}

.logo-content{
    display: flex;
    align-items: center;
    gap: 13px;
}

.logo{
    width: 65px;
}

.logo-content,.arrow-menu,.menu-left{
    transition: 0.5s ease;
}

.arrow-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background-color: #242C50;
    cursor: pointer;
    right: -20px;
}

.arrow-menu{
    font-size: 24px;
}

.arrow-toggle{
    transform: rotate(180deg);
}

.text-toggle{
    display: none;
}


.center-items{
    display: flex;
    width: 100%;
    justify-content: center;
}

.list-menu-group{
    margin-top: 20px;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 45px;
}

.list-menu-container{
    width: 100%;
    
}

.list-menu-container>h4{
    padding: 0px 45px;
}

.list-menu-container>ul{
    list-style: none;
    width: 100%;
}

.list-menu-container>ul>li{
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 18px;
    white-space: nowrap;
    padding:  10px 45px;
}

.cursor-none{
    cursor: auto !important;
}

.active{
    background-color: #121526;
}

.active::before{
    content: '';
    width: 27px;
    height: 27px;
    background-color: #D868FF;
    position: absolute;
    left: -15px;
    transform: rotate(45deg);
}

.logo-item-list{
    font-size: 32px;
}

.flex-end-style{
    justify-self: flex-end;
}

/* button */
.toggle{
    display: none;
}

.toggle + label{
    width: 64px;
    height: 32px;
    background: #31333d;
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
}

.toggle + label:before{
    content: url(../../img/light_mode.svg); 
    position: absolute;
    width: 26px;
    height: 26px;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right:unset;
    left: 2px;
    top: 3px;
    transition: 200ms;
}

.toggle:checked + label{
    background: #f2f2f2;
}

.toggle:checked + label:before{
    content: url(../../img/dark_mode.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121526;
    left: calc(100% - 28px);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
}