.container-course {
    display: flex;
    gap: 40px;
    align-items: center;
    background-color: #121526;
    max-height: 37px;
}

.icon-style-course{
    font-size: 1.7rem;
    color: #f2f2f2;
}

.item-courses {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 7px 0px;
    position: relative;
}

.container-course > .item-courses > span {
    color: #FFF;
    font-family: 'Titillium Web';
    font-size: 1rem;
    font-weight: normal;
}

.item-courses::before {
    content: "";
    position: absolute;
    border-radius: 2px;
    bottom: 0;
    transition: width 0.5s ease;
    background: linear-gradient(90deg, rgba(127, 86, 188, 1), rgba(240, 112, 255, 1));
    width: 0%;
    height: 4px;
}

.item-courses:hover::before{
    content: "";
    position: absolute;
    border-radius: 2px;
    bottom: 0;
    background: linear-gradient(90deg, rgba(127, 86, 188, 1), rgba(240, 112, 255, 1));
    width: 100%;
    height: 4px;
}

.course-active::before {
    content: "";
    background: linear-gradient(90deg, rgba(127, 86, 188, 1), rgba(240, 112, 255, 1));
    position: absolute;
    bottom: 0px;
    left: 1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}