.course-content-container {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.course-content-title {
    font-family: "Titillium Web";
    font-weight: 600;
    font-size: 48px;
}

.course-content-body {
    font-family: "Titillium Web";
    text-align: justify;
    font-size: 24px;
}

.course-content-container > button{
    align-self  : end;
}
.course-content-button {
    
    background-color: #4476E0;
    padding: 10px;
    border-radius: 30px;
    width: 150px;
    height: max-content;
    color: white;
    font-family: "Titillium Web";
    font-size: 24px;
    text-align: center;
}