.learn_section {
    /* border: solid 2px red; */
    overflow-y: scroll;
    height: 850px;
    background-color: #121526;
    
    /* margin-left: 25px; */
    
    display: flex;
    flex-direction: column;

    width: 902px;

    gap: 32px;
}

.learn_section::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
.learn_section::-webkit-scrollbar-track {
    background: #121526;       /* color of the tracking area */
  }
  
.learn_section::-webkit-scrollbar-thumb {
    background-color: rgba(127, 86, 188, 1);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb /  / creates padding around scroll thumb */
  }

.learn_section > span {
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 600;
    color: #FFF;
}

/* .learn_section > img {
    width: 902px;
} */

.lesson_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lesson_header > span {
    font-family: 'Titillium Web';
    font-size: 48px;
    font-weight: 600;
    color: #FFF;
}

.like_button {
    border: solid 1px #FFF;
    border-radius: 100px;

    width: 109px;
    height: 40px;
    
    display: flex;
    align-items: center;
    
    color: #FFF;
    gap: 8px;
    padding: 0px 15px;
}

.like_button > span {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: normal;
    
}

.lesson_body {
    font-family: 'Titillium Web';
    font-size: 24px;
    font-weight: normal;
    color: #FFF;
}