
.container-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 874px;
}

.content-data {
    width: 581px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-horizontal {
    width: 100%;
    display: flex;
    gap: 64px;
}

.content-txt {
    padding-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;

}

.content-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.content-txt>span {
    color: #FFF;
    font-family: 'Raleway';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title {
    color: #FFF;
    text-align: center;
    font-family: 'Raleway';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}

.content-input>input {
    height: 39px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #B3B3B3;
    padding: 0px 13px;
    color: #fff;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-input>input::placeholder {
    padding: 0px;
    color: #B3B3B3;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.content-data>button {
    width: 20%;
    height: 43px;
    align-self: flex-end;
    margin-top: 16px;
    border-radius: 100px;
    background: #F070FF;
    cursor: pointer;
    color: #333;
    text-align: center;
    font-family: 'Raleway';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-data>button:disabled {
    align-self: flex-end;
    background: #B3B3B3;
    cursor: pointer;
}