
.institucional-cards-sobre-nos{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 78px;
}

.card-institucional {
    width: 31.5%;
    padding: 30px 0px;
    background-color: #7F56BC;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.card-content{
    width: 16vw;
    height: 13rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-institucional .mission-img, .vision-img, .value-img{
    width: 63px;
    height: 78.775px;
}

.card-content h1{
    color: #FFF;
    font-family: 'K2D';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 800;
    line-height: 40.005px;
    text-transform: uppercase;
}

.card-content>p{
    color: #FFF;
    font-family: 'K2D';
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.card-institucional:hover{
    box-shadow: 0px 0px 20px 7px #452673;
}