.cover-section {
    background-color: #121526;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
}

.cover-section > span {
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 600;
    color: #FFF;
}

.cover-lesson-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.cover-lesson-header > span {
    font-family: 'Titillium Web';
    font-size: 48px;
    font-weight: 600;
    color: #FFF;
}

.cover-like-button {
    border: solid 1px #FFF;
    border-radius: 100px;

    width: 109px;
    height: 40px;
    
    display: flex;
    align-items: center;
    
    color: #FFF;
    gap: 8px;
    padding: 0px 15px;
}

.cover-like-button > span {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: normal;
}

.cover-description {
    display: flex;
    flex-direction: column;
    gap: 30px;

    font-family: 'Titillium Web';
    font-size: 24px;
    font-weight: normal;
    color: #FFF;
}