.container {
  /* border: solid 2px red; */

  display: flex;

  gap: 40px;

  background-color: #121526;

  max-width: 525px;
}

.item {
  position: relative;

  display: flex;
  align-items: center;

  gap: 8px;
}

.item::before {
  content: "";

  background: linear-gradient(
    90deg,
    rgba(127, 86, 188, 1),
    rgba(240, 112, 255, 1)
  );

  position: absolute;
  bottom: -2px;
  left: 1px;

  border-radius: 2px;

  transition: width 0.5s ease;

  width: 0%;
  height: 0.2em;
}

/* .item:hover::before {
    content: "";

    background: linear-gradient(90deg, rgba(127, 86, 188, 1), rgba(240, 112, 255, 1));

    position: absolute;
    bottom: -2px;
    left: 1px;
    
    border-radius: 2px;
    
    width: 100%;
    height: 0.2em;
} */

.container > .item > span {
  color: #fff;
  font-family: "Titillium Web";
  font-size: 20px;
  font-weight: normal;
}

.active-filter::before {
  content: "";

  background: linear-gradient(
    90deg,
    rgba(127, 86, 188, 1),
    rgba(240, 112, 255, 1)
  );

  position: absolute;
  bottom: -2px;
  left: 1px;

  border-radius: 2px;

  /* transition: width 0.5s ease; */

  width: 100% !important;
  height: 0.2em;
}
