
.module-list-container{
  display: flex;
  flex-direction: column;
  border-right: #7D7D7D solid 2px;
  height: 100%;
}

.module-list-container>span{
  text-align: start;
  font-size: 1.5rem;
}

.modules_container {
    /* border: 1px solid red; */
    background-color: #121526;

    display: flex;
    flex-direction: column;
    
    gap: 12px;
    
    width: 511px;
    overflow-y: scroll;
    height: 100%;
    padding-right: 25px;
}

.modules_container::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
.modules_container::-webkit-scrollbar-track {
    background: #121526;       /* color of the tracking area */
  }
  
.modules_container::-webkit-scrollbar-thumb {
    background-color: transparent;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb /  / creates padding around scroll thumb */
  }

.modules_list {
    /* border: solid 2px pink; */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.modules_container > .title {
    border: solid 2px red;
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 600;
    color: #FFF;
}