
.achivements-container{
    font-family: 'Raleway';
    color: #fff;
    margin-top: 38px;
    padding-top: 66px;
    border-top: 1px solid #f2f2f2;
    
}

.achivements-container>h3{
    font-size: 28px;
    margin-bottom: 55px;
}


.achievements-scroll{
    overflow-x: scroll;
    width: 900px;
    padding: 0px 0px 20px 0px;
    display: flex;
    gap: 24px;
}

.achievements-scroll::-webkit-scrollbar {
    height: 10px;               /* width of the entire scrollbar */
  }
  
.achievements-scroll::-webkit-scrollbar-track {
    background: #E4E4E4;       /* color of the tracking area */
    border-radius: 20px;
}
  
.achievements-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(127, 86, 188, 1);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb /  / creates padding around scroll thumb */
}

.achivements-card{

    flex-shrink: 0;
    width: 120px;
    height: 180px;
    background-color: #f2f2f2;
}