
.privaty-container{
    font-family: "Raleway";
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 88px;
    width: 526px;
    color: #ffff;
    border-right: 1px solid #B3B3B3;
}

.privaty-container>button{
    background: #4476E0;
    color: #fff;
}


.body-privaty>button,.privaty-container>button{
    border: none;
    border-radius: 100px;
    padding: 10px 40px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
}

.header-privaty{
    text-align: center;
}

.header-privaty>h3{
    font-size: 28px;
}

.profile-img {
    width: 228px;
    height: 228px;
    margin-top: 40px;
    border-radius: 100%;
    position: relative;
}

.profile-img-container{
    position: relative;
}

.profile-img-container>.edit{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242C50;
    cursor: pointer;
}

.icon-edit{
    font-size: 54px;
}

.body-privaty{
    width: 359px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.body-privaty>button{
    background-color: #B3B3B3;
    color: #333333;
    margin-top: 16px;
    align-self: flex-end;
}

.body-privaty>h3{
    margin-bottom: 40px;
    font-size: 28px;
}


.status-privaty{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.status-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-content>label{
    font-size: 20px;
}

.custom-select {
    min-width: 150px;
    position: relative;
}
  
.custom-select>select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 1rem;
    padding: 10px 20px;
    background: none;
    border: 1px solid #B3B3B3;
    border-radius: 100px;
    color: #B3B3B3;
    cursor: pointer;
  }
  
    
  .custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #B3B3B3;
    top: 50%;
  }