@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

.container-data-teacher-ps {
    background-color: #121526;
    height: 227px;
    width: 1050px;
    padding: 50px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #FFF;
}

.content-data-teacher-ps{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.content-data-teacher-ps>h3 {
    color: #FFF;
    font-family: "Raleway", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content-data-teacher-ps>button {
    width: 206px;
    border-radius: 100px;
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: transparent;
    padding: 10px 30px;
}

.container-data-teacher-ps>button {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 30px;
    border: solid 1px white;
    font-family: 'Raleway' sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    color: white;

    width: 118px;
    height: 43px;
}

.btn-none, .div-none {
    display: none;
}

.btn-block, .div-flex {
    display: flex;
}

.content-al-hr-ps{
    display: flex;
    justify-content: space-between;

}
.content-vtl-cf-ps {
    display: flex;
    flex-direction: column;
}

.edit-teacher-ps {
    display: flex;
    flex-direction: column;
}

.title-shadow-teacher {
    color: #868686;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.edit-teacher-ps>input {
    border: none;
    width: 200px;
    font-size: 24px;
    font-weight: 400;
    text-align: start;
    color: #FFF;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 600;
    background: transparent;
    padding: 10px 0px;
}

.edit-teacher-ps>input::placeholder{
    padding: 0px;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    text-align: start;
}

.hint>ul {
    color: #868686;
    font-family: 'Raleway', sans-serif;
}

.hint>li{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}