.top-bar-container {
    display: flex;
    width: max-content;
    gap: 40px;  
}

.top-bar-item {
    display: flex;
    position: relative;
    align-items: center;
    color: white;
    cursor: pointer;
    gap: 8px;
}

.top-bar-item > span {
    font-family: 'Titillium Web';
    font-size: 20px;
    font-weight: normal;
}

.top-bar-icon{
     width: "24px";
      height: "24px";
}


.top-bar-active::before {
    content: "";

    background: linear-gradient(90deg, rgba(127, 86, 188, 1), rgba(240, 112, 255, 1));

    position: absolute;
    bottom: -2px;
    left: 1px;
    
    border-radius: 2px;
    
    /* transition: width 0.5s ease; */

    width: 100%;
    height: 0.2em;
}