.loader {
  width: 4rem;
  height: 4rem;
}

.spin {
  background: transparent;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  z-index: 0;
  -webkit-animation: spin2 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spin > div:not(.spin__blocker) {
  width: 50%;
  height: 50%;
  z-index: -1;
}
.spin__blocker {
  position: absolute;
  top: 0;
  left: 0;
  top: 3%;
  left: 7%;
  background: white;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
.spin__bottom-left {
  position: absolute;
  top: 50%;
  left: 0;
  background: -webkit-linear-gradient(
    top left,
    rgba(127, 86, 188, 0.75) 0%,
    rgba(240, 112, 255, 0.5) 100%
  );
  background: linear-gradient(
    to bottom right,
    rgba(127, 86, 188, 0.75) 0%,
    rgba(240, 112, 255, 0.5) 100%
  );
}
.spin__bottom-right {
  position: absolute;
  top: 50%;
  left: 50%;
  background: -webkit-linear-gradient(
    bottom left,
    rgba(240, 112, 255, 0.5) 0%,
    rgba(127, 86, 188, 0.75) 100%
  );
  background: linear-gradient(
    to top right,
    rgba(240, 112, 255, 0.5) 0%,
    rgba(127, 86, 188, 0.75) 100%
  );
}
.spin__top-left {
  position: absolute;
  top: 0;
  left: 50%;
  background: -webkit-linear-gradient(
    top left,
    rgba(240, 112, 255, 0.5) 0%,
    rgba(127, 86, 188, 0.75) 100%
  );
  background: linear-gradient(
    to bottom right,
    rgba(240, 112, 255, 0.5) 0%,
    rgba(127, 86, 188, 0.75) 100%
  );
}

.spin__blocker {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}
