*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: box-shadow .2s ease;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #121526;       /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(127, 86, 188, 1);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb /  / creates padding around scroll thumb */
}

button{
  transition: all .2s ease;
}

