.module {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.module>span {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.2rem;
    color: #FFF;
    padding-bottom: 32px;
}

.lessons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}