@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


.profile_container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #242C50;
    height: 980px;
    width: 481px;
    
    border-radius: 20px;
}

.profile_info {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 74px;
    
    height: 900px;
    width: 315px;
}

.pfp_name_section {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 313px;
    width: 315px;

    gap: 18px;
}

.pfp_name_section > img {
    width: 228px;
    height: 228px;
    border-radius: 100%;
}

.name_email {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3px;

    height: 67px;
    width: 100%;
}

.name_email > .name {
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: bold;
    color: #FFF;
}

.name_email > .email {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: bold;
    color: #FFF;
}

.follower_section {
    display: flex;
    flex-direction: column;

    gap: 32px;
    
    height: 145px;
    width: 268px;
}

.follow_numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 60px;
}

.follow_numbers > span {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: bold;
    color: #FFF;
}

.follower_section > .follow_button {
    border: solid 1px white;
    border-radius: 100px;
    
    display: flex;
    align-items: center;

    height: 53px;

    padding: 0px 24px;

    gap: 17px;
    
}

.follower_section > .follow_button > span {
    font-family: 'Titillium Web';
    font-size: 24px;
    font-weight: normal;
    color: white;

    width: 166px;
}

.stats_section {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    height: 294px;
    width: 268px;
}
